:root {
  --width-cube: 10vw;
  --height-cude: 10hv;
}

/* calc(1 - (1 - var(--k))*(1 - var(--i))) */

.header {
  display: flex;
  padding-bottom: 8px;
  justify-content: space-between;
}

.label {
  padding: 8px 15px;
  border: 1px solid #333;
}

.start-game-button {
  margin-right: 16px;
}
