.header {
  display: flex;
  padding-bottom: 8px;
  justify-content: space-between;
}

.label {
  padding: 8px 15px;
  border: 1px solid #333;
}

.start-game-button {
  margin-right: 16px;
}

@media (min-width: 1200px) {
  .container {
    width: 100vh;
  }
}
